{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
  },
  "ConnectionStrings": {
    "TradingDb": "Server=(localdb)\\MSSQLLocalDB;Database=AiTradingRace;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=False"
  }
}

