@inherits LayoutComponentBase

<div class="page">
    <header class="top-row">
        <h1>AI Trading Race</h1>
    </header>

    <div class="body">
        <nav class="sidebar">
            <NavMenu />
        </nav>

        <main>
            <article>
                @Body
            </article>
        </main>
    </div>
</div>

