<div class="nav-menu">
    <ul>
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/agents">
                Agents
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/ingestion">
                Ingestion marché
            </NavLink>
        </li>
    </ul>
</div>

